@tailwind base;
@tailwind components;
@tailwind utilities;

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-coding-bold {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 700;
  font-style: normal;
}
.feedback {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.handout {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
}

.timeline-box {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.badge,
button {
  font-family: "Silkscreen", sans-serif;
}

.topbarlogo {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "EDPT" 111, "EHLT" 14;
}
