---
import Layout from "../../layout/Layout.astro";
import Assignment from "../../components/Assignment.svelte";
import CodeEditor from "../../components/CodeEditor.svelte";

import { get } from "svelte/store";
const { userUuid } = Astro.params;
---

<Layout userUuid={userUuid}>
  <h1>Hello, {userUuid}!</h1>
  <Assignment client:only={"svelte"} />
  <CodeEditor client:only={"svelte"} />
</Layout>
